.aspectwrapper {
  display: inline-block; 
  width: 100%;           
  position: relative;   
}
.aspectwrapper::after {
  padding-top: 56.25%; 
  display: block;
  content: '';
}
.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; 
  outline: thin dashed green;           
} 


.App-logo {
  margin-top: 1%;
  height: 12vmin;
  pointer-events: none;
}

.App-Name {
  margin-top: -5%;
  color: white;
}

.App-btn {
  font-size:2rem;
  margin-bottom: 2%;
}
h1 {
  font-size: 2em !important;
  color:white;
  text-align: center;
  margin-bottom: 1px;
}
h2 {
  font-size: 2em !important;
  color:white;
  text-align: center;
  margin-bottom: 1px;
}

h3 {
  font-size: 1em !important;
  color:white;
  text-align: center;
}

h4 {
  font-size: 20px !important;
  color:white;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center !important;
  margin-bottom: 3%;
  font-size: 30px;
}
.App-loading-bar{
  /* margin-left: 20px; */
  margin: auto;
  margin-bottom: -150px;
}

.App-link {
  color: #61dafb;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

